@media screen and (min-width: 1100px) {
    .transparent-header-spacer
    {
        display: block;
    }
}
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


@media print {
    .rating-container .clear-rating {
        display: none
    }
}


@media (max-width: 991px) {
    .left-nav
    {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    table.basic-table.dataTable
    {
        width: 100% !important;
    }
    table.basic-table.dataTable td {
        text-align: center;
    }
    table.basic-table.dataTable td .button
    {
        width: 100%;
    }
    table.basic-table.dataTable td:first-child
    {
        font-size: 18px;
        color: #b90000;
        font-weight: bold;
    }
}
@media (max-width: 575px) {
    .left-nav
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .right-content
    {
        margin-right: 15px;
        margin-left: 15px;
    }

}